.anchor {
    -fx-background-image:url('login.jpg');
    -fx-background-size: 2000.0px 1200.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.text-field {
    -fx-font-size: 12.0pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-border-color: #FF8C00;
    -fx-background-color: transparent;
    -fx-border-radius: 10.0, 10.0;
}

.text-field:focused {
    -fx-font-size: 12.0pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-border-color: #FFF8DC;
    -fx-border-radius: 10.0, 10.0;
}

.button{
	-fx-font-size: 12.0pt;
	-fx-text-fill: #FF8C00;
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color: transparent;
    -fx-border-color: #FF8C00;
    -fx-border-radius: 10.0, 10.0;
}

.button:hover {
	-fx-font-size: 12.0pt;
	-fx-text-fill: 	#FFF8DC;
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color: transparent;
    -fx-border-color: 	#FFF8DC;
    -fx-border-radius: 10.0, 10.0;
}

.button:focused {
	-fx-font-size: 12.0pt;
	-fx-text-fill: 	#FFF8DC;
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color: transparent;
    -fx-border-color: 	#FFF8DC;
    -fx-border-radius: 10.0, 10.0;
}
